<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Membros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
            <div class="container">
                <a class="navbar-brand admin-toggler" href="#">SciFi <span class="navbar-brand-admin">Admin</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="navbar-brand display-mobile m-0" href="#">SciFi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Participações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Artigos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Membros</a>
                        </li>
                    </ul>
                    <button class="btn btn-primary btn-custom" type="button">Cadastrar</button>
                </div>
            </div>
            <div class="admin-navbar">
                <ul class="admin-nav">
                    <li><a href="#" class="admin-logo">SciFi<span>Admin</span></a></li>
                    <hr>
                    <li><a href="#" class="admin-link">Notícias</a></li>
                    <li><a href="#" class="admin-link">Artigos</a></li>
                    <li><a href="#" class="admin-link">Membros</a></li>
                    <li><a href="#" class="admin-link">Participações</a></li>
                    <li><a href="#" class="admin-link">Subgrupos</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="add-member-main">
        <div class="form-member-container">
            <h1>Adicionar Membro</h1>
            <hr>
            <form>
                <div class="form-member-group">
                    <label for="first-name">Nome:</label>
                    <input type="text" class="form-control" id="first-name" placeholder="Digite o nome">
                </div>
                <div class="form-member-group">
                    <label for="last-name">Sobrenome:</label>
                    <input type="text" class="form-control" id="last-name" placeholder="Digite o sobrenome">
                </div>
                <div class="form-member-group">
                    <label for="role">Atuação:</label>
                    <input type="text" class="form-control" id="role" placeholder="Digite a atuação">
                </div>
                <div class="form-member-group">
                    <label for="content">Conteúdo:</label>
                    <textarea class="form-control" id="content" rows="4" placeholder="Digite o conteúdo"></textarea>
                </div>
                <div class="form-member-group">
                    <label for="image">Imagem:</label>
                    <input type="file" class="form-control" id="image">
                </div>
                <div class="form-member-group">
                    <label for="lattes">Lattes:</label>
                    <input type="text" class="form-control" id="lattes" placeholder="Digite o link do Lattes">
                </div>
                <div class="form-member-group">
                    <label for="subgroup">Selecione um subgrupo:</label>
                    <select id="subgroup" class="form-control">
                        <option value="" disabled selected>Selecione um subgrupo</option>
                        <option value="subgroup1">Subgrupo 1</option>
                        <option value="subgroup2">Subgrupo 2</option>
                        <option value="subgroup3">Subgrupo 3</option>
                        <!-- Adicione mais opções conforme necessário -->
                    </select>
                </div>
                <div class="form-group row justify-content-between text-center">
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary btn-block add-btn" style="background-color: #0540F2; border-radius: 25px;">Salvar<br>informações</button>
                    </div>
                    <div class="col-sm-5">
                        <a href="index.html" class="btn btn-secondary btn-block add-btn" style="background-color: #99999A; color: #000000; border-radius: 25px;">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between align-items-center footer-top flex-wrap">
            <div class="footer-logo">
                SciFi
            </div>
            <div class="footer-text">
                Segurança Cibernética<br> e Sistemas Ciber-Físicos
            </div>
        </div>
        <div class="footer-center text-center">
            <p>Cadastra-se para ficar por dentro das novidades</p>
            <button class="btn btn-custom">Cadastrar</button>
        </div>
        <div class="footer-bottom text-center">
            <p>Copyright © 2024 SciFi</p>
        </div>
    </footer>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="../js/webformatation_admin.js"></script>

</body>

</html>