<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Eventos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
            <div class="container">
                <a class="navbar-brand admin-toggler" href="#">SciFi <span class="navbar-brand-admin">Admin</span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="navbar-brand display-mobile m-0" href="#">SciFi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Participações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Artigos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Membros</a>
                        </li>
                    </ul>
                    <button class="btn btn-primary btn-custom" type="button">Cadastrar</button>
                </div>
            </div>
            <div class="admin-navbar">
                <ul class="admin-nav">
                    <li><a href="#" class="admin-logo">SciFi<span>Admin</span></a></li>
                    <hr>
                    <li><a href="#"class="admin-link">Notícias</a></li>
                    <li><a href="#"class="admin-link">Artigos</a></li>
                    <li><a href="#"class="admin-link">Membros</a></li>
                    <li><a href="#"class="admin-link">Participações</a></li>
                    <li><a href="#"class="admin-link">Subgrupos</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="add-event-main">
        <div class="form-container">
            <h1>Adicionar Evento</h1>
            <hr>
            <form>
                <div class="form-group row">
                    <label for="title" class="col-sm-2 col-form-label">Título:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="title" placeholder="Digite o título">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="date" class="col-sm-2 col-form-label">Data:</label>
                    <div class="col-sm-12">
                        <input type="date" class="form-control" id="date">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="description" class="col-sm-2 col-form-label">Descrição:</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" id="description" rows="3" placeholder="Digite a descrição"></textarea>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="cover" class="col-sm-2 col-form-label">Capa:</label>
                    <div class="col-sm-12">
                        <input type="file" class="form-control" id="cover">
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="content" class="col-sm-2 col-form-label">Conteúdo:</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" id="content" rows="5" placeholder="Digite o conteúdo"></textarea>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="images" class="col-sm-2 col-form-label">Imagens:</label>
                    <div class="col-sm-12">
                        <input type="file" class="form-control" id="images" multiple>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="documents" class="col-sm-2 col-form-label">Documentos:</label>
                    <div class="col-sm-12">
                        <input type="file" class="form-control" id="documents" multiple>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="participants">Adicionar Participante:</label>
                    <div class="col-sm-12">
                        <input list="participant-list" class="form-control" id="participants" placeholder="Digite o nome do participante">
                    </div>
                    <datalist id="participant-list">
                        <option value="Nome Participante 1">
                        <option value="Nome Participante 2">
                        <option value="Nome Participante 3">
                        <!-- Adicione mais opções conforme necessário -->
                    </datalist>
                </div>
                <div class="form-group" id="participants-container">
                    <!-- Aqui serão adicionados os checkboxes dos participantes -->
                </div>
                <div class="form-group text-center">
                    <button type="button" class="btn btn-danger" id="delete-participant" style="background-color: #F22105; border-radius: 25px; color: #000000; font-weight: bold;">Excluir participante</button>
                </div>
                <div class="form-group row justify-content-between text-center">
                    <div class="col-sm-5">
                        <button type="submit" class="btn btn-primary btn-block add-btn" style="background-color: #0540F2; border-radius: 25px;">Salvar<br>informações</button>
                    </div>
                    <div class="col-sm-5">
                        <a href="index.html" class="btn btn-secondary btn-block add-btn" style="background-color: #99999A; color: #000000; border-radius: 25px;">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between align-items-center footer-top flex-wrap">
            <div class="footer-logo">
                SciFi
            </div>
            <div class="footer-text">
                Segurança Cibernética<br> e Sistemas Ciber-Físicos
            </div>
        </div>
        <div class="footer-center text-center">
            <p>Cadastra-se para ficar por dentro das novidades</p>
            <button class="btn btn-custom">Cadastrar</button>
        </div>
        <div class="footer-bottom text-center">
            <p>Copyright © 2024 SciFi</p>
        </div>
    </footer>


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="../js/webformatation_admin.js"></script>
    
</body>

</html>