<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Participações</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body style="  background-color: #E1E1E4;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">SciFi</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="navbar-brand display-mobile m-0" href="#">SciFi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Notícias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Participações</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Artigos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Membros</a>
                        </li>
                        <button class="btn btn-primary btn-custom display-mobile" type="button">Cadastrar</button>
                    </ul>
                    <button class="btn btn-primary btn-custom" type="button">Cadastrar</button>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid bg-light-grey py-4">
        <!-- Retângulo Principal -->
        <div class="main-rectangle mx-auto px-4 py-3">
            <h1 class="text-white participation-title">Participações</h1>
        </div>

        <!-- Caixa de Cards -->
        <div class="cards-container mx-auto mt-4">
            <!-- Exemplo de Card -->
            <a href="https://example.com/evento" class="participation-card-link">
                <div class="participation-card">
                    <img src="../imgs/meeting.jpg" alt="Imagem da Participação" class="card-img">
                    <h3 class="card-title">Título da Participação</h3>
                    <p class="card-date-location">Date: March 02, 2023 | Location: New York, NY</p>
                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate ligula nec libero viverra, in cursus nisi tristique.</p>
                </div>
            </a>
            <a href="https://example.com/evento" class="participation-card-link">
                <div class="participation-card">
                    <img src="../imgs/meeting2.jpg" alt="Imagem da Participação" class="card-img">
                    <h3 class="card-title">Título da Participação</h3>
                    <p class="card-date-location">Date: March 02, 2023 | Location: New York, NY</p>
                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate ligula nec libero viverra, in cursus nisi tristique.</p>
                </div>
            </a>
            <a href="https://example.com/evento" class="participation-card-link">
                <div class="participation-card">
                    <img src="../imgs/meeting3.jpg" alt="Imagem da Participação" class="card-img">
                    <h3 class="card-title">Título da Participação</h3>
                    <p class="card-date-location">Date: March 02, 2023 | Location: New York, NY</p>
                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate ligula nec libero viverra, in cursus nisi tristique.</p>
                </div>
            </a>
            <a href="https://example.com/evento" class="participation-card-link">
                <div class="participation-card">
                    <img src="../imgs/meeting4.jpg" alt="Imagem da Participação" class="card-img">
                    <h3 class="card-title">Título da Participação</h3>
                    <p class="card-date-location">Date: March 02, 2023 | Location: New York, NY</p>
                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate ligula nec libero viverra, in cursus nisi tristique.</p>
                </div>
            </a>
            <a href="https://example.com/evento" class="participation-card-link">
                <div class="participation-card">
                    <img src="../imgs/meeting5.jpg" alt="Imagem da Participação" class="card-img">
                    <h3 class="card-title">Título da Participação</h3>
                    <p class="card-date-location">Date: March 02, 2023 | Location: New York, NY</p>
                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate ligula nec libero viverra, in cursus nisi tristique.</p>
                </div>
            </a>
            <a href="https://example.com/evento" class="participation-card-link">
                <div class="participation-card">
                    <img src="../imgs/meeting6.jpg" alt="Imagem da Participação" class="card-img">
                    <h3 class="card-title">Título da Participação</h3>
                    <p class="card-date-location">Date: March 02, 2023 | Location: New York, NY</p>
                    <p class="card-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate ligula nec libero viverra, in cursus nisi tristique.</p>
                </div>
            </a>
            
        </div>
        <div class="pagination">
            <button class="pagination-btn prev" disabled>Página Anterior</button>
            <button class="pagination-btn-n active">1</button>
            <button class="pagination-btn-n">2</button>
            <button class="pagination-btn-n">3</button>
            <span class="pagination-ellipsis">...</span>
            <button class="pagination-btn-n">10</button>
            <button class="pagination-btn next active">Próxima Página</button>
        </div>
    </main>
    <footer class="footer">
        <div class="container-fluid d-flex justify-content-between align-items-center footer-top flex-wrap">
            <div class="footer-logo">
                SciFi
            </div>
            <div class="footer-text">
                Segurança Cibernética<br> e Sistemas Ciber-Físicos
            </div>
        </div>
        <div class="footer-center text-center">
            <p>Cadastra-se para ficar por dentro das novidades</p>
            <button class="btn btn-custom">Cadastrar</button>
        </div>
        <div class="footer-bottom text-center">
            <p>Copyright © 2024 SciFi</p>
        </div>
    </footer>

    <script src="../js/webformatation.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
