<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Membros - SciFi</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>

  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">SciFi</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="navbar-brand display-mobile m-0" href="#">SciFi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Notícias</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Participações</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Artigos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Membros</a>
            </li>
            <button class="btn btn-primary btn-custom display-mobile" type="button">Cadastrar</button>
          </ul>
          <button class="btn btn-primary btn-custom" type="button">Cadastrar</button>
        </div>
      </div>
    </nav>
  </header>

  <!-- Conteúdo Principal -->
    <main class="container-fluid mt-4 pt-5">
        <div class="row justify-content-center text-center">
            <div class="col-lg-6">
                <h1 class="title">Membros SciFi</h1>
                <p class="description">Explore mais sobre os membros inspiradores que contribuem diariamente para nosso grupo de entusiastas em Segurança Cibernética e Sistemas Ciber-Físicos.</p>
            </div>
            <div class="col-lg-6">
                <img src="../imgs/membros.jpg" class="img-fluid d-none d-md-block" alt="Membros SciFi">
            </div>
        </div>

        <!-- Cards dos Membros -->
        <section class="members mt-5">
            <div class="card-member bg-dark-blue">
                <div class="row text-center">
                    <div class="col-lg-6 image-container">
                        <img src="../imgs/pessoa.jpeg" class="img-fluid member-image" alt="Ana">
                        <div class="image-caption">RoboLab</div>
                    </div>
                    <div class="col-lg-6 text-white">
                        <h1 class="member-name">Ana</h1>
                        <p class="member-role">Leader</p>
                        <p class="member-lattes">Currículo lattes: <a href="#" class="text-white">Link</a></p>
                        <p class="member-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu.</p>
                    </div>
                </div>
            </div>

            <div class="card-member bg-deep-blue mt-5">
                <div class="row text-center">
                    <div class="col-lg-6 text-white">
                        <h1 class="member-name">João</h1>
                        <p class="member-role">Designer</p>
                        <p class="member-lattes">Currículo lattes: <a href="#" class="text-white">Link</a></p>
                        <p class="member-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu..</p>
                    </div>
                    <div class="col-lg-6 image-container">
                        <img src="../imgs/pessoa2.jpg" class="img-fluid member-image" alt="João">
                        <div class="image-caption">TingaGames</div>
                    </div>
                </div>
                <hr class="member-bar">
            </div>

            <div class="card-member bg-dark-blue mt-5 mb-0">
                <div class="row text-center">
                    <div class="col-lg-6 image-container">
                        <img src="../imgs/pessoa3.jpg" class="img-fluid member-image" alt="Felipe">
                        <div class="image-caption">IA+Dev</div>
                    </div>
                    <div class="col-lg-6 text-white">
                        <h1 class="member-name">Felipe</h1>
                        <p class="member-role">Researcher</p>
                        <p class="member-lattes">Currículo lattes: <a href="#" class="text-white">Link</a></p>
                        <p class="member-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliqu.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

  <!-- Rodapé -->
  <<footer class="footer">
    <div class="container-fluid d-flex justify-content-between align-items-center footer-top flex-wrap">
        <div class="footer-logo">
            SciFi
        </div>
        <div class="footer-text">
            Segurança Cibernética<br> e Sistemas Ciber-Físicos
        </div>
    </div>
    <div class="footer-center text-center">
        <p>Cadastra-se para ficar por dentro das novidades</p>
        <button class="btn btn-custom">Cadastrar</button>
    </div>
    <div class="footer-bottom text-center">
        <p>Copyright © 2024 SciFi</p>
    </div>
</footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="../js/webformatation.js"></script>
</body>
</html>
